<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="https://tt-econ.github.io/assets/images/tt.png">
    <!-- If no favicon -> Need to suppress request for favicon.ico below to avoid 403 error -->
    <!-- <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="> -->

    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    -->
    <!-- Static folder is not accessible by AWS Lambda, the content is saved as a Python variable instead -->
    {{ css_style }}
</head>

<body>
    <div class="question-box">
        <h3>Welcome to the Social Compact Worker Preferences Survey | सोशल कॉम्पैक्ट वर्कर प्रेफरेंस सर्वे में आपका स्वागत है | सोशल कॉम्पॅक्ट वर्कर प्राधान्य सर्वेक्षणात आपले स्वागत आहे</h3>
        <p>You will be presented with a number of scenarios. In each scenario, you will be asked to choose from two potential jobs. Please select the job you most prefer. | आपको कई विकल्प दिए जाएँगे। प्रत्येक विकल्प में आपको दो संभावित नौकरियों में से चुनने के लिए कहा जाएगा। कृपया वह नौकरी चुनें जो आपको सबसे ज़्यादा पसंद हो। | तुम्हाला अनेक पर्याय दिले जातील. प्रत्येक पर्यायामध्ये तुम्हाला दोन संभाव्य नोकऱ्यांमधून निवडण्यास सांगितले जाईल. कृपया तुम्हाला सर्वात जास्त आवडणारी नोकरी निवडा.</p>
        <form action={{ redirect_url }} method="GET">    
            <p>By clicking submit, you give your consent to participate in this survey. All responses are fully anonymous. | सबमिट पर क्लिक करके आप इस सर्वेक्षण में भाग लेने के लिए अपनी सहमति देते हैं। सभी प्रतिक्रियाएँ पूरी तरह से गोपनीय हैं। | सबमिट करा क्लिक करून तुम्ही या सर्वेक्षणात सहभागी होण्यासाठी तुमची संमती देता. सर्व प्रतिसाद पूर्णपणे निनावी आहेत.</p>
            <input type="submit" value="Start | प्रारंभ करें | प्रारंभ करा">
        </form>
    </div>
</body>

</html>
